<title>Home | Coiny</title>
<style>body {overflow-x: hidden;}</style>
<!--Begin Navbar-->
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>document.onreadystatechange = function() {var state = document.readyState; if (state == 'complete') {AOS.init();}}</script>
<link rel="icon" href="https://img.icons8.com/cute-clipart/64/000000/cursor.png" type="image/png">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<body id="background"></body>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="og:title" content="Coiny">
<meta name="og:image" content="https://img.icons8.com/cute-clipart/64/000000/cursor.png">
<meta name="og:description" content="A simple clicker game.">
<meta name="keywords" content="coiny">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="nav">
  <a class="navbar-brand" href="/play" id="username">Play!</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="./">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="./about/">About</a>
      </li>
    </ul>
    <img alt="Error" id="modeButton" style="cursor: hand;">
  </div>
</nav><br>
<!--End Navbar-->
<div class="alert alert-warning alert-dismissible fade show" role="alert" style="display: none;" id="404">
  Could not find URL <i id="404URL"></i> on the server. Please try again.
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="alert alert-info alert-dismissible fade show" role="alert" style="display: none;" id="legacy">
  You have been redirected from our legacy site: <b>progress-game</b>. We are now known as Coiny!
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div style="text-align: center;">
  <div class="jumbotron bg-dark" style="width: 60%; text-align: center; display: inline-block; border-style: solid; border-width: 1px; border-color: #99AAB5;" id="jumbotron" data-aos="zoom-out" data-aos-duration="2500">
    <h1 class="display-4 text-light" id="headerJ">Welcome to Coiny</h1>
    <p class="lead text-secondary">This is a very simple progress game.</p>
    <hr class="my-4 bg-light" id="hrJ">
    <p class="text-muted">
      This game is not finished, but we do have some basic features.
    </p>
  </div>
</div>

<script>
  if(window.location.href.split('?404=')[1]) {
    document.getElementById('404').style.display = 'block'
    document.getElementById('404URL').innerHTML = window.location.href.split('?404=')[1]
  }
  if(window.location.href.split('?legacy=')[1] == 'true') document.getElementById('legacy').style.display = 'block'
  
  let sun = "https://img.icons8.com/color/38/000000/sun.png"
  let moon = "https://img.icons8.com/plasticine/38/000000/crescent-moon.png"
  let light = "https://cdn.glitch.com/e81927d1-763b-4abd-9cc0-1ff0591ef6fc%2Fbackgr_light.png"
  let dark = "https://cdn.glitch.com/e81927d1-763b-4abd-9cc0-1ff0591ef6fc%2Fbackgr.png"
  
  let mode = localStorage.getItem('mode')
  if(!mode) mode = 'dark'
  let modeButton = document.getElementById('modeButton')
  let modeLink = document.getElementById('modeLink')
  let click = "alert('error')"
  let nav = document.getElementById('nav')
  let jumbotron = document.getElementById('jumbotron')
  let header = document.getElementById('headerJ')
  let hr = document.getElementById('hrJ')
  
  if(mode == 'light') {
    modeButton.src = moon
    modeButton.alt = "Dark Mode"
    click = "localStorage.setItem('mode', 'dark'); window.location.reload();"
    
    nav.className = nav.className.replace('navbar-dark', 'navbar-light')
    nav.className = nav.className.replace('bg-dark', 'bg-light')
    jumbotron.className = jumbotron.className.replace('bg-dark', 'bg-light')
    header.className = header.className.replace('text-light', 'text-dark')
    hrJ.className = hrJ.className.replace('bg-light', 'bg-dark')
    document.getElementById('background').style = "background-image: url('"+light+"');"
  }
  if(mode == 'dark') {
    modeButton.src = sun
    modeButton.alt = "Light Mode"
    click = "localStorage.setItem('mode', 'light'); window.location.reload();"
    
    nav.className = nav.className.replace('navbar-light', 'navbar-dark')
    nav.className = nav.className.replace('bg-light', 'bg-dark')
    jumbotron.className = jumbotron.className.replace('bg-light', 'bg-dark')
    header.className = header.className.replace('text-dark', 'text-light')
    hrJ.className = hrJ.className.replace('bg-dark', 'bg-light')
    document.getElementById('background').style = "background-image: url('"+dark+"');"
  }
  
  modeButton.addEventListener("click", function() {
    eval(click)
  }, false);
</script>